#game-canvas {
  width: 800px;
  height: 600px;
  margin: auto;
}
#gui {
  font-size: 30px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
#gui .fa-heart {
  font-size: 0.6em;
  line-height: -70px;
  position: relative;
  top: -4px;
  left: 5px;
}
